@inherits LayoutComponentBase

@using LanyardApp.Components.Layout

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content position-relative h-100 p-0 px-2 py-2 m-0">
            <CustomErrorBoundaryHandler>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="exception">
                </ErrorContent>
            </CustomErrorBoundaryHandler>

            <Toast></Toast>

            @* <Footer></Footer> *@
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />