@inject ToastService ToastService

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
    <div class="toast @(toastVisible ? "show" : "")" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header @toastHeaderClass">
            <strong class="me-auto">@toastHeaderMessage</strong>
            <small>Now</small>
            <button type="button" class="btn-close" aria-label="Close" @onclick="HideToast"></button>
        </div>
        <div class="toast-body">
            @toastMessage
        </div>
    </div>
</div>

@code {
    bool toastVisible = false;
    string toastMessage = "";
    string toastHeaderMessage = "";
    string toastHeaderClass = "";

    protected override void OnInitialized()
    {
        ToastService.OnShow += ShowToast;
        ToastService.OnSetErrorLevel += SetErrorLevel;
    }

    private void ShowToast(string message)
    {
        toastMessage = message;

        InvokeAsync(() =>
        {
            toastVisible = true;
            StateHasChanged();
        });

        Task.Delay(5000).ContinueWith(_ =>
        {
            InvokeAsync(() => toastVisible = false);
        });
    }

    private void SetErrorLevel(int ErrorLevel)
    {
        switch (ErrorLevel)
        {
            case ToastErrorLevels.Info:
                toastHeaderClass = "";
                toastHeaderMessage = "Info";
                break;
            case ToastErrorLevels.Warning:
                toastHeaderClass = "bg-warning text-black";
                toastHeaderMessage = "Warning";
                break;
            case ToastErrorLevels.Error:
                toastHeaderClass = "bg-danger text-white";
                toastHeaderMessage = "Error";
                break;
        }
    }

    private void HideToast()
    {
        toastVisible = false;
    }

    public void Dispose()
    {
        ToastService.OnShow -= ShowToast;
    }
}
