@page "/staff/manage/projectionprograms"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization
@using Lanyard.App.Components.Manager.ProjectionPrograms
@using Lanyard.Application.Services.Clients

@inject IClientService _clientService
@inject IProjectionProgramService _projectionService
@inject IToastService _toastService

<PageTitle>Projection Programs</PageTitle>

<FluentCard AreaRestricted="false">
    <FluentMultiSplitter Class="h-100">
        <FluentMultiSplitterPane Size="25%">
            <div class="me-3">
                <FluentDataGrid Class="h-auto" Items="projectionPrograms.AsQueryable()" ShowHover="true" Pagination="new PaginationState { ItemsPerPage = 10 }" GridTemplateColumns="auto 1fr">
                    <ChildContent>
                        <SelectColumn SelectAll="true" OnSelect="@(x => UpdateSelectedScreen(x.Item))" Property="@(x => x == selectedProjectionProgram)" TGridItem="ProjectionProgram" SelectMode="DataGridSelectMode.Single" SelectFromEntireRow="true"></SelectColumn>
                        <PropertyColumn Property="x => x.Name" Title="Name"></PropertyColumn>
                        @* <PropertyColumn Property="x => x.ProjectionProgramSteps.Count()" Title="Number of Steps"></PropertyColumn> *@
                    </ChildContent>
                    <EmptyContent>
                        No Projection Programs Exist!
                    </EmptyContent>
                </FluentDataGrid>
                <FluentButton Class="float-end mt-2" Appearance="Appearance.Outline" IconStart="new Icons.Regular.Size20.FormNew()" OnClick="HandleCreateNewProjectionProgram">New</FluentButton>
            </div>
        </FluentMultiSplitterPane>

        <FluentMultiSplitterPane Size="60%">
            <FluentStack HorizontalAlignment="HorizontalAlignment.Center">
                <div class="w-50">
                    <ProgramFlow SelectedProgram="selectedProjectionProgram" OnSave="HandleSave"></ProgramFlow>
                </div>
            </FluentStack>
        </FluentMultiSplitterPane>

        <FluentMultiSplitterPane Size="15%">
            <Toolbox OnSaveClicked="HandleSave" ShowSaveButton="@ShowSaveButton"></Toolbox>
        </FluentMultiSplitterPane>
    </FluentMultiSplitter>
</FluentCard>
@code {
    private List<ProjectionProgram> projectionPrograms { get; set; } = new();

    private ProjectionProgram? selectedProjectionProgram;

    private bool ShowSaveButton => selectedProjectionProgram != null && selectedProjectionProgram.ProjectionProgramSteps.Any();

    protected override async Task OnInitializedAsync()
    {
        await GetProjectionProgramsAsync();
    }

    private async Task GetProjectionProgramsAsync()
    {
        Result<IEnumerable<ProjectionProgram>> getResult = await _projectionService.GetProjectionProgramsAsync();

        if (!getResult.IsSuccess)
        {
            _toastService.ShowError($"An error occured when fetching projection programs, {getResult.Error}");
        }
        else
        {
            projectionPrograms = getResult.Data!.ToList();
        }
    }

    private async Task UpdateSelectedScreen(ProjectionProgram program)
    {
        selectedProjectionProgram = program;
    }

    private async Task HandleCreateNewProjectionProgram()
    {
        DialogParameters parameters = new()
        {
            OnDialogResult = DialogService.CreateDialogCallback(this, HandleAddProjectionProgram),
            Width = "30%",
            Height = "auto",
            TrapFocus = true,
            Modal = true,
        };

        await DialogService.ShowDialogAsync<AddNewProjectionProgramDialog>(parameters);
    }

    private async Task HandleAddProjectionProgram(DialogResult result)
    {
        if (result.Cancelled == true)
        {
            return;
        }

        projectionPrograms.Add((result.Data! as ProjectionProgram)!);

        selectedProjectionProgram = (result.Data! as ProjectionProgram)!;
    }

    private async Task HandleSave()
    {
        Result<bool> saveResult = await _projectionService.SaveProjectionProgramStepsAsync(selectedProjectionProgram!.ProjectionProgramSteps);

        if (!saveResult.IsSuccess)
        {
            _toastService.ShowError($"An error occured when saving the projection program, {saveResult.Error}");
        }
        else
        {
            _toastService.ShowSuccess("Projection program saved successfully!");

            // await GetProjectionProgramsAsync();

            // selectedProjectionProgram = projectionPrograms.Find(x=> x.Id == program.Id);
        }
    }
}