@inherits LayoutComponentBase

<div class="page" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="top-bar">
        <NavMenu />
    </div>

    <main style="flex: 1; overflow-y: auto;">
        <article class="content position-relative h-100 p-0 px-2 py-2 m-0">
            @Body
        </article>
    </main>
</div>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>