@using Lanyard.Shared.DTO;

@inject AppInfo AppInfo

<div>
    <FluentGrid AdaptiveRendering="true" Spacing="0">
        <FluentGridItem HiddenWhen="GridItemHidden.SmAndDown" xs="12">
            <FluentFooter>
                <FluentCard AreaRestricted="false" MinimalStyle="true" Class="rounded-0">
                    <FluentStack VerticalAlignment="VerticalAlignment.Center">
                        <div style="flex: 1">
                            <ThemeSelector></ThemeSelector>
                        </div>

                        <div>
                            <FluentStack VerticalAlignment="VerticalAlignment.Center"
                                        HorizontalAlignment="HorizontalAlignment.Center" Orientation="Orientation.Vertical">
                                <span class="mb-0">© @DateTime.UtcNow.Year The Lanyard Development Team</span>
                                @* <span class="mb-0"></span> *@
                                @* <span>Version @AppInfo.Version</span> *@
                            </FluentStack>
                        </div>

                        <div style="flex: 1; text-align: right;">
                        </div>
                    </FluentStack>
                </FluentCard>
            </FluentFooter>
        </FluentGridItem>
        <FluentGridItem xs="12" HiddenWhen="GridItemHidden.MdAndUp">
            <div class="mt-5 pb-3"></div>
            <MobileNavMenu />
        </FluentGridItem>
    </FluentGrid>
</div>