body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: var(--font-weight);
    color: var(--neutral-foreground-rest);
    background: var(--neutral-fill-layer-rest);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

span.fas{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.modal{
    padding-top: 2rem;
}

.modal-custom-fade-in {
    animation: modalFadeIn 0.15s ease-out forwards;
}

.modal-custom-fade-out {
    animation: modalFadeOut 0.15s ease-in forwards;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.backdrop-custom-fade-in {
    animation: backdropFadeIn 0.15s ease-out forwards;
}

.backdrop-custom-fade-out {
    animation: backdropFadeOut 0.15s ease-in forwards;
}

@keyframes backdropFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes backdropFadeOut {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}

.hover-card {
    transition: all 0.05s ease;
}

.hover-card:hover {
    background-color: var(--bs-secondary-bg) !important;
}

.hover-card.active {
    background-color: var(--bs-secondary-bg-subtle) !important;
}

    .hover-card.active:hover {
        background-color: var(--bs-dark-bg-subtle) !important;
    }

.hover-card .hover-icon {
    transition: opacity 0.2s !important;
    opacity: 0 !important;
}

    .hover-card .hover-icon.show {
        opacity: 1 !important;
    }

.card-body.collapse {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.35s ease, padding 0.2s ease;
    padding-top: 0;
    padding-bottom: 0;
}

    .card-body.collapse.show {
        max-height: 1000px; 
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

i.fas {
    transition: transform 0.3s ease;
}

.rotate-180 {
    transform: rotate(180deg);
}

.form-label{
    margin-bottom: 0.5rem !important;
    font-size: 0.9rem !important;
    opacity: 0.7 !important;
}

.form-control{
    border: 1px solid #cccc;
    border-bottom: 1px solid black !important;
    border-radius: 0 !important;
    transition: all 0s !important;
}

    .form-control:focus:not(:is(:readonly)) {
        box-shadow: none !important;
        border-bottom: 2px solid blue !important;
        outline: unset !important;
    }

    .form-control[readonly]{
        background-color: transparent !important;
        cursor: not-allowed;
    }

.toast {
    transition: 0.3s opacity ease !important;
    width: fit-content !important;
    max-width: 70vw !important;
    min-width: 15vw !important;
}

    .toast:not(.show) {
    
        opacity: 0 !important;
        z-index: -999999 !important;
        display: block !important;
    }

        .toast.show {
            opacity: 100;
            z-index: 999999;
        }

.card .card-header {
    background-color: #c017ea;
    color: white;
    font-weight: 600;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}

    .card .card-header .btn-primary {
        background-color: var(--bs-purple) !important;
        border: solid 1px #9257ff! important;
        transition: 0.2s ease all;
    }

    .card .card-header .btn-outline-primary {
        background-color: transparent;
        border: solid 1px var(--bs-purple) !important;
        color: white !important;
        transition: 0.15s ease all;
    }

    .card .card-header .btn:hover {
        filter: brightness(1.1);
        background-color: var(--bs-purple) !important;
    }

.card .card-body {
    --bs-bg-opacity: 0.75;
}

.card .card .card-body {
    background-color: white;
}
/*
.table {
    margin-bottom: 0 !important;
    border-radius: 0.5rem !important;
    --bs-bg-opacity: 0.75 !important;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    overflow: hidden !important;
    border: none !important;
    backdrop-filter: blur(16px);
}

    .table tbody{
        border: none !important;
    }

    .table td {
        padding: 1rem !important;
    }

    .table td, .table tr {
        background-color: transparent !important;
        overflow: hidden !important;
        border-bottom: none !important;
    }*/

.validation-message {
    font-size: 0.9rem;
}

.form-label {
    display: flex;
    flex-direction: row;
    width: 100%;
}

    .form-label .validation-message{
        margin-left: 1rem;
    }

main {
    background: #560c69;
    background: linear-gradient(180deg,rgba(86, 12, 105, 1) 0%, rgba(104, 19, 183, 1) 39%, rgba(192, 23, 234, 1) 100%);
}

.bg-blur {
    --bs-bg-opacity: 0.75 !important;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    backdrop-filter: blur(16px);
}

.playlist-card {
    transition: all 0.2s ease;
}

    .playlist-card:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        background-color: var(--neutral-fill-stealth-hover) !important;
    }