.digitalClock{
    font-family: 'Segoe UI Mono', 'Consolas', monospace;
    font-size: 2.5rem;
    letter-spacing: 0.15em;
    padding: 0.3em 0em;
    padding-top: 0em;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100%;
}

.digitalClock .dateText{
    font-size: 1.2rem;
    margin-top: 0.2em;
    letter-spacing: 0.07em;
}