@using Lanyard.Application.Services.Authentication

<FluentDialogBody>
    <ChildContent>
        <p>Are you sure you want to delete '<strong>@(DisplayName ?? Content?.GetName() ?? "this item")</strong>'? This action cannot be undone.</p>
    </ChildContent>
    <ActionTemplate>
        <FluentButton Appearance="ButtonAppearance.Primary" OnClick="@ConfirmAsync">Delete</FluentButton>
        <FluentButton OnClick="@CancelAsync">Cancel</FluentButton>
    </ActionTemplate>
</FluentDialogBody>

@code {
    [Parameter]
    public UserProfile? Content { get; set; }

    [Parameter]
    public string? DisplayName { get; set; }

    [CascadingParameter]
    public required IDialogInstance Dialog { get; set; }

    private async Task ConfirmAsync()
    {
        await Dialog.CloseAsync();
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
