@page "/music"

@using LanyardApp.Components.Music
@using LanyardData.Models
@using LanyardAPI.Services
@using NAudio.Wave;

@inject MusicPlayerService _player

<PageTitle>Music</PageTitle>

<div class="d-flex flex-row h-100">
    <Playlists OnSongsSelected="HandleSongsSelected"></Playlists>

    <div class="d-flex flex-columm col-10">
        <SongList Songs="currentSongs"></SongList>
    </div>
</div>

<div class="position-absolute bottom-0 start-50 translate-middle-x pb-3 border-top border-secondary w-100 pt-3 bg-white">
    <div class="d-flex justify-content-center gap-2">
        <button class="border-dark text-dark border-2 fas fa-backward bg-white p-1 rounded-circle d-flex justify-content-center align-items-center"
                style="width:40px; height:40px;"
                @onclick="RestartSong"
                @ondblclick="PreviousSong">
        </button>

        <button class="border-dark text-dark border-2 fas @(isPlaying ? "fa-pause" : "fa-play") bg-white p-1 rounded-circle d-flex justify-content-center align-items-center"
                style="width:40px; height:40px;"
                @onclick="TogglePlay">
        </button>

        <button class="border-dark text-dark border-2 fas fa-forward bg-white p-1 rounded-circle d-flex justify-content-center align-items-center"
                style="width:40px; height:40px;"
                @onclick="NextSong">
        </button>
    </div>
</div>

@code {
    private IEnumerable<PlaylistSongMember>? currentSongs;

    private bool isPlaying = false;

    protected override void OnInitialized()
    {
        _player.OnPlaybackStatusChanged += HandlePlaybackStatusChanged;
        UpdatePlaybackStatus();
    }

    private void HandlePlaybackStatusChanged()
    {
        UpdatePlaybackStatus();
        InvokeAsync(StateHasChanged);
    }

    private void UpdatePlaybackStatus()
    {
        isPlaying = _player.CurrentPlaybackState == PlaybackState.Playing;
    }

    private async Task TogglePlay()
    {
        await _player.TogglePlay();
    }

    private async Task Play()
    {
        await _player.Play();
    }

    private async Task RestartSong()
    {
        await _player.Restart();
    }

    private async Task PreviousSong()
    {
        await _player.Previous();
    }

    private async Task NextSong()
    {
        await _player.Next();
    }

    private void HandleSongsSelected(IEnumerable<PlaylistSongMember> songs)
    {
        currentSongs = songs;
        StateHasChanged();
    }

    public void Dispose()
    {
        _player.OnSongChanged -= HandlePlaybackStatusChanged;
    }
}
