@using Lanyard.App.Components.Layout.Staff
@using Lanyard.App.Components.Layout
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <Authorizing>
                    <div style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column; gap: 16px;">
                        <FluentProgressRing />
                        <p>Checking authentication...</p>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    @* <RedirectToLogin /> *@
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState>