@page "/"

@attribute [Authorize]

@using Lanyard.App.Components.ClockIn
@using Lanyard.App.Components.Home
@using Lanyard.Application.Services.Authentication
@using Microsoft.AspNetCore.Authorization

@inject ISecurityService _securityService

<PageTitle>Staff Home</PageTitle>


<div class="px-1">
    <FluentGrid AdaptiveRendering="true" Spacing="3">
        <FluentGridItem Lg="4" Md="6" Sm="12" Xs="12">
            <FluentCard Appearance="CardAppearance.Filled" Height="100%">
                <FluentStack Orientation="Orientation.Vertical" Height="100%">
                    <FluentText Size="TextSize.Size800" Class="my-auto">
                        @GetGreeting(), <b>@_currentUserName!</b>
                    </FluentText>
                    @if (_showPreviewContent)
                    {
                        <FluentText Weight="TextWeight.Semibold" Color="Color.Info" Class="mt-2">Preview Mode, Dummy data in use</FluentText>
                    }
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem Lg="4" Md="6" Sm="12" Xs="12">
            @if (_showPreviewContent)
            {
                <MyTasksToday />
            }
            else
            {
                <FluentStack HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Class="h-100 gap-3">
                    <FluentButton IconStart="new Icons.Regular.Size24.SearchSparkle()" Appearance="ButtonAppearance.Primary" @onclick="() => _showPreviewContent = true">
                        Show Preview Content
                    </FluentButton>
                </FluentStack>
            }
        </FluentGridItem>
        <FluentGridItem Lg="4" Md="6" Sm="12" Xs="12" HiddenWhen="GridItemHidden.MdAndDown">
            <DigitalClock />
        </FluentGridItem>
    </FluentGrid>
    @if (_showPreviewContent)
    {
        <FluentGrid Spacing="3">
            <FluentGridItem Lg="7" Md="12" Sm="12" Xs="12">
                <FluentCard Appearance="CardAppearance.Filled">
                    <ClockinPortable />
                </FluentCard>
            </FluentGridItem>
            <FluentGridItem Lg="3" Md="5" Sm="12" Xs="12">
                <FluentCard Appearance="CardAppearance.Filled">
                    <UpcomingShifts />
                </FluentCard>
            </FluentGridItem>
            <FluentGridItem Lg="2" Md="7" Sm="12" Xs="12">
                <FluentCard Appearance="CardAppearance.Filled">
                    <ShiftCalendar />
                </FluentCard>
            </FluentGridItem>
        </FluentGrid>
    }
</div>

@code {
    private string? _currentUserName;

    private bool _showPreviewContent = false;

    protected override async Task OnInitializedAsync()
    {
        _currentUserName = await _securityService.GetCurrentUserName();
    }

    private string GetGreeting()
    {
        int hour = DateTime.Now.Hour;
        if (hour < 12)
            return "Good morning";
        else if (hour < 18)
            return "Good afternoon";
        else
            return "Good evening";
    }
}