@using Lanyard.Application.Services.Authentication
<div class="col-12 h-100"
<table class="table table-bordered col-4 h-100">
    <thead>
        <tr>
            <th scope="col">Date Of Shift</th>
            <th scope="col">Day Of Week Worked</th>
            <th scope="col">Hours Clocked</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">01/01/1976</th>
            <td>Saturday</td>
            <td>2 Hours 38 Minutes</td>
        </tr>
        <tr>
            <th scope="row">01/01/1976</th>
            <td>Monday</td>
            <td>9 Hours 12 Minutes</td>
        </tr>
        <tr>
            <th scope="row">01/01/1976</th>
            <td>Sunday</td>
            <td>8 Hours 0 Minutes</td>
        </tr>
    </tbody>
</table>
</div>