<div class="col-12 h-100">
    <table class="table table-bordered col-4 h-100">
        <thead>
            <tr>
                <th scope="col">Date of Shift</th>
                <th scope="col">Day Working</th>
                <th scope="col">Time of Shift</th>
                <th scope="col">Hours Scheduled</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">01/01/1976</th>
                <td>Monday</td>
                <td>09:30 - 18:30</td>
                <td>9 Hours</td>
            </tr>
            <tr>
                <th scope="row">01/01/1976</th>
                <td>Tuesday</td>
                <td>09:30 - 18:30</td>
                <td>9 Hours</td>
            </tr>
            <tr>
                <th scope="row">01/01/1976</th>
                <td>Wednesday</td>
                <td>09:30 - 18:30</td>
                <td>9 Hours</td>
            </tr>
            <tr>

            </tr>
        </tbody>
    </table>
</div>