@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<loading-theme storage-name="theme"></loading-theme>

<FluentProviders />

<FluentLayout>
    <FluentLayoutItem Area="LayoutArea.Header">
        <FluentStack VerticalAlignment="VerticalAlignment.Top">
            <FluentLayoutHamburger Visible="true"/>
            <FluentSpacer Width="10px"></FluentSpacer>
            <FluentLink Href="/" Class="nav-brand">
                <FluentText Color="Color.Default" Weight="TextWeight.Bold" Size="TextSize.Size500">
                    Lan<span class="nav-brand-flip">y</span>ard
                </FluentText>
            </FluentLink>
        </FluentStack>
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Navigation" Height="auto">
        <NavMenu />
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Content" Padding="@(addPadding ? Padding.All3 : Padding.All0)">
        <AutoLogoutManager />
        @Body
    </FluentLayoutItem>

    <FluentLayoutItem Area="LayoutArea.Footer" Height="auto">
        <Footer />
    </FluentLayoutItem>
</FluentLayout>

@code {
    public bool addPadding = true;

    protected override void OnInitialized()
    {
        if (NavigationManager.Uri.Contains("/music", StringComparison.OrdinalIgnoreCase))
        {
            addPadding = false;
        }

        base.OnInitialized();
    }
}
