@inherits LayoutComponentBase

@using Lanyard.App.Components.Layout
@using Microsoft.AspNetCore.Mvc.RazorPages

@inject NavigationManager NavigationManager

<loading-theme storage-name="theme"></loading-theme>

<div class="page staff-layout" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="top-bar">
        <NavMenu />
    </div>

    <main style="flex: 1;" class="@(addPadding ? "px-2 py-2" : "")">
        <article class="content position-relative h-auto m-0">
            @Body
        </article>
    </main>

    <Footer />
</div>

@code {
    public bool addPadding = true;

    protected override void OnInitialized()
    {
        if (NavigationManager.Uri.Contains("//music", StringComparison.OrdinalIgnoreCase))
        {
            addPadding = false;
        }

        base.OnInitialized();
    }
}

<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentToastProvider />