<FluentCard MinimalStyle="true" Class="rounded-0 position-fixed bottom-0 start-0 end-0 z-100 py-2 px-2" Height="auto">
    <FluentAppBar Orientation="Orientation.Horizontal" Class="w-100" PopoverShowSearch="true">
        <AuthorizeView>
            <Authorized>
                <div class="d-flex align-items-center w-100">
                    <div style="flex: 1;">
                        <FluentAppBarItem Href="//account/manage"
                            Match="NavLinkMatch.All"
                            IconRest="new Icons.Regular.Size28.Person()"
                            IconActive="new Icons.Filled.Size28.Person()"
                            Text="Account" />
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <FluentAppBarItem Href="/"
                            Match="NavLinkMatch.All"
                            IconRest="new Icons.Regular.Size28.Home()"
                            IconActive="new Icons.Filled.Size28.Home()"
                            Text="Home" />

                        <FluentAppBarItem Href="//rota/clockin"
                            Match="NavLinkMatch.All"
                            IconRest="new Icons.Regular.Size28.Clock()"
                            IconActive="new Icons.Filled.Size28.Clock()"
                            Text="Clock In" />

                        <FluentAppBarItem Href="//messages"
                            Match="NavLinkMatch.All"
                            Count="3"
                            IconRest="new Icons.Regular.Size28.Mail()"
                            IconActive="new Icons.Filled.Size28.Mail()"
                            Text="Messages" />
                    </div>
                    <div style="flex: 1;" class="d-flex justify-content-end">
                        <FluentAppBarItem Href="/api/auth/logout"
                            Match="NavLinkMatch.All"
                            IconRest="new Icons.Regular.Size28.HomeEmpty()"
                            IconActive="new Icons.Filled.Size28.HomeEmpty()"
                            Text="Logout" />
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="0">
                    <FluentAppBarItem Href="//login"
                        Match="NavLinkMatch.All"
                        IconRest="new Icons.Regular.Size28.PersonHome()"
                        IconActive="new Icons.Filled.Size28.PersonHome()"
                        Text="Login" />
                </FluentStack>
            </NotAuthorized>
        </AuthorizeView>
    </FluentAppBar>
</FluentCard>