.outstanding-training-row {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid var(--colorNeutralStroke2);
    border-radius: var(--borderRadiusMedium);
    width: 100%;
    box-sizing: border-box;
}

.outstanding-training-row:hover {
    background-color: var(--colorNeutralBackground2);
}

::deep .outstanding-training-row-inner {
    row-gap: 8px;
}

::deep .outstanding-training-name {
    min-width: 0;
    overflow-wrap: anywhere;
    max-width: 70%
}
