@page "/manage/clients"
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization
@using Lanyard.App.Components.Manager

@inject IClientService _clientService
@inject IToastService _toastService

<PageTitle>Clients</PageTitle>

<FluentCard Height="auto">
    <FluentText Typo="Typography.PaneHeader">
        Clients
    </FluentText>
    <div class="clients-grid-wrapper">
        <FluentDataGrid ShowHover="true" Items="@clients.OrderBy(x => x.Name).AsQueryable()" GridTemplateColumns="2fr 2fr 1fr 1fr 1fr 1fr 1fr 0.6fr" Style="width: 100%;" Class="clients-grid">
            <ChildContent>
                <PropertyColumn Property="x => x.Id" Title="Client ID" Class="clients-col-id"/>
                <PropertyColumn Sortable="true" Property="x => x.Name" Title="Name" />
                <PropertyColumn Property="x => x.MostRecentIpAddress" Title="IP Address" Class="clients-col-ip"/>
                <PropertyColumn IsDefaultSortColumn="true" InitialSortDirection="DataGridSortDirection.Descending" Sortable="true"
                                Property="x => x.LastLogin" Title="Last Login" />
                <TemplateColumn Title="Capabilities">
                    @if (context.ProjectionEnabled)
                    {
                        <FluentBadge Appearance="BadgeAppearance.Filled" Class="me-1">Projection</FluentBadge>
                    }

                    @if (context.DmxEnabled)
                    {
                        <FluentBadge Appearance="BadgeAppearance.Filled" Class="me-1">DMX</FluentBadge>
                    }
                </TemplateColumn>
                <PropertyColumn Sortable="true" Property="@(x => x.IsCurrentlyConnected ? "Yes" : "No")" Title="Currently Connected" />
                <TemplateColumn Title="Current Session Length" Class="clients-col-session">
                    @if (context.IsCurrentlyConnected)
                    {
                        <span>
                            @(((TimeSpan)(now - context.LastLogin)!).ToString(@"hh\:mm\:ss"))s
                        </span>
                    }
                    else
                    {
                        <span>--:--:--</span>
                    }
                </TemplateColumn>
                <TemplateColumn Title="Settings">
                    <FluentIcon OnClick="() => OpenClientSettingsDialog(context.Id)"
                                Icon="Icons.Regular.Size20.Settings" Class="ms-1" role="button"></FluentIcon>
                </TemplateColumn>
            </ChildContent>
            <LoadingContent>
                Loading...
            </LoadingContent>
        </FluentDataGrid>
    </div>
</FluentCard>

@code {
    private IEnumerable<ClientConnectedWithCapabilitiesDTO> clients = Array.Empty<ClientConnectedWithCapabilitiesDTO>();

    private PeriodicTimer? timer;
    private DateTime now;

    protected override async Task OnInitializedAsync()
    {
        await GetClientsAsync();

        now = DateTime.UtcNow;

        timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

        _ = Task.Run(async () =>
        {
            while (await timer.WaitForNextTickAsync())
            {
                now = DateTime.UtcNow;
                await InvokeAsync(StateHasChanged);
            }
        });
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

    private async Task GetClientsAsync()
    {
        Result<IEnumerable<ClientConnectedWithCapabilitiesDTO>> result = await _clientService.GetClientsWithCapabilitiesAsync();

        if (result.IsSuccess)
        {
            clients = result.Data!;
        }
        else
        {
            _toastService.ShowError($"Failed to load connected clients, {result.Error}");
        }
    }

    private async Task OpenClientSettingsDialog(Guid clientId)
    {
        await _dialogService.ShowDialogAsync<ClientSettingsDialog>(options =>
        {
            options.Header.Title = "Client Settings";
            options.Width = "min(900px, 95vw)";
            options.Modal = true;
            options.Parameters.Add(nameof(ClientSettingsDialog.ClientId), clientId);
        });

        await GetClientsAsync();
    }
}