@page "/manage/roles"

@using Lanyard.App.Components.Manager
@using Lanyard.Application.Services.Authentication

<div class="p-2">
    <UserRolesManager @ref="_userRoleManager" />

    <RoleManager OnRolesChanged="HandleRolesChanged" />
</div>

@code {
    private IEnumerable<ApplicationRole> roles = Array.Empty<ApplicationRole>();
    private UserRolesManager? _userRoleManager;

    public async Task HandleRolesChanged(IEnumerable<ApplicationRole> roles)
    {
        _userRoleManager?.SetRoles(roles);
    }
}