@page "/files"
@using Lanyard.Infrastructure.Models
@using Lanyard.Infrastructure.DTO
@using Lanyard.App.Components.Files
@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>File Manager</PageTitle>

<div class="file-manager-page">
    <FluentCard class="file-manager-card">
        <FluentGrid class="h-100 w-100">
            <FluentGridItem Xs="12" Sm="4" Md="3" class="file-manager-sidebar">
                <FolderTree SelectedFolderId="selectedFolderId" SelectedFolderIdChanged="OnFolderChanged" />
            </FluentGridItem>
            <FluentGridItem Xs="12" Sm="8" Md="9" class="w-100 file-manager-content">
                <AuthorizeView>
                    <FileUploader SelectedFolderId="selectedFolderId" OnFileUploaded="OnFileUploaded" />
                </AuthorizeView>
                <FileList @ref="fileList" FolderId="selectedFolderId" OnFileDeleted="OnFileDeleted" OnFileRenamed="OnFileRenamed" />
            </FluentGridItem>
        </FluentGrid>
    </FluentCard>
</div>

@code {
    private Guid? selectedFolderId;

    private FileList? fileList;

    private void OnFolderChanged(Guid? folderId)
    {
        // Changing the parameter re-triggers FileList.OnParametersSetAsync, which reloads.
        selectedFolderId = folderId;
        StateHasChanged();
    }

    private async Task OnFileUploaded(FileMetadata file)
    {
        if (fileList is not null)
            await fileList.RefreshAsync();
    }

    private async Task OnFileDeleted(Guid fileId)
    {
        if (fileList is not null)
            await fileList.RefreshAsync();
    }

    private async Task OnFileRenamed(FileMetadata file)
    {
        if (fileList is not null)
            await fileList.RefreshAsync();
    }
}
