@inherits LayoutComponentBase

@using Lanyard.App.Components.Layout
@using Lanyard.Application.Services.Authentication

<div class="page staff-layout" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="top-bar">
        <NavMenu />
    </div>

    <main style="flex: 1; overflow-y: auto;">
        <article class="content position-relative h-100 p-0 px-2 py-2 m-0">
            <CustomErrorBoundaryHandler>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="exception">
                </ErrorContent>
            </CustomErrorBoundaryHandler>
        </article>
    </main>

    <FluentFooter>
        <FluentCard AreaRestricted="false" MinimalStyle="true" Class="rounded-0">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                <div style="flex: 1">
                    <ThemeSelector></ThemeSelector>
                </div>      
                
                <div>
                    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center" Orientation="Orientation.Vertical">
                        <span class="mb-0">© Copyright @DateTime.Now.Year</span>
                        <span>Version 1.2.1</span>
                    </FluentStack>
                </div>

                <div style="flex: 1; text-align: right;">
                </div>
            </FluentStack>
        </FluentCard>
    </FluentFooter>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />