@inherits LayoutComponentBase

@using Lanyard.App.Components.Layout

<loading-theme storage-name="theme"></loading-theme>

<div class="page staff-layout" style="display: flex; flex-direction: column; height: 100vh;">
    <div class="top-bar">
        <NavMenu />
    </div>

    <main style="flex: 1; overflow-y: auto;">
        <article class="content position-relative h-auto p-0 m-0">
            @Body
        </article>
    </main>

    <Footer />
</div>

<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<FluentToastProvider />